@model TheatreCMS3.Areas.Rent.Models.RentalHistory

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        
            <h1 class="text-center mt-2">Edit Rental History</h1>
            <div class="form-horizontal border p-4" id="rentalhist-form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)


                <div class="form-group row">
                    <div class="col-md-6">

                        @Html.LabelFor(model => model.Rental, htmlAttributes: new { @class = "control-label" })

                        @Html.EditorFor(model => model.Rental, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Rental, "", new { @class = "text-danger" })

                    </div>
                    <div class="col-md-6 text-center">

                        <div>
                            @Html.LabelFor(model => model.RentalDamaged, "Damaged?", htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div>
                            @Html.CheckBoxFor(model => model.RentalDamaged, new { onchange = "toggleCheck()", @id = "check" })
                            @Html.ValidationMessageFor(model => model.RentalDamaged, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    </div>
              
                        <div class="form-group row">
                           
                            <div class="col-md-12">
                                <span id="damage-label">
                                    @Html.LabelFor(model => model.DamagesIncurred, "Damage Incurred", htmlAttributes: new { @class = "control-label" })
                                </span>
                                <span id="notes-label">
                                    @Html.LabelFor(model => model.DamagesIncurred,  "Notes", htmlAttributes: new { @class = "control-label" })
                                </span>
                                    @Html.EditorFor(model => model.DamagesIncurred, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DamagesIncurred, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        

                        <div class="form-group rows">
                            <div class="col-md-12 text-center">
                                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-dark" })
                                <input type="submit" value="Save" class="btn btn-success" />

                            </div>
                        </div>
                    </div>
                </div>
            }

            
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
