@model IEnumerable<TheatreCMS3.Areas.Rent.Models.RentalHistory>


}
<table class="table bg-white table-borderless" id="myGroup">
    @{ int i = 0;}
    @foreach (var item in Model)
    {

        <tr data-toggle="collapse" data-target="#X@(item.ID)">
            @{i++;}
            
            @if (item.RentalDamaged)
            {
                <td class="col-1 col-md-1 col-lg-1">
                    <i class="fa-sharp fa-solid fa-circle-xmark fa-xl" style="color: #ff0000;"></i>
                </td>
                <td class="col-4 col-md-3 col-lg-2">
                    <span class="badge badge-dark">@Html.DisplayFor(modelItem => item.Rental)</span>
                </td>
            }
            else
            {
                <td class="col-1 col-md-1 col-lg-1">
                    <i class="fa-sharp fa-solid fa-circle-check fa-xl" style="color: #00ff00;"></i>
                </td>
                <td class="col-4 col-md-3 col-lg-2">
                    <span class="badge badge-dark">@Html.DisplayFor(modelItem => item.Rental)</span>
                </td>
            }




            @if (item.RentalDamaged)
            {
                <td class="col-6 col-md-7 col-lg-8">
                    <span class="text-single-line"> @Html.DisplayFor(modelItem => item.DamagesIncurred)</span>
                </td>
            }
            else
            {
                <td class="col-6 col-md-7 col-lg-8">
                    <span class="text-single-line gray"> None</span>
                </td>
            }
            <td class="col-1 col-md-1 col-lg-1 last-td">
                <div class="dropdown dropleft">
                    <a href="#"
                       role="button" id="dropdownMenuLink"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical" style="background-color:black; color:white; padding-left:20%; padding-right:20%; padding-top: 10%; padding-bottom:10%;font-size:x-large; border-radius:5px;"></i>
                    </a>

                    <ul class="dropdown-menu"
                        aria-labelledby="dropdownMenuLink">
                        <li>
                            <a class="dropdown-item" href="@Url.Action("Edit", new { id = item.ID }) ">
                                <i class="fa fa-pencil pr-2" aria-hidden="true"></i> Edit
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="@Url.Action("Details", new { id = item.ID })">
                                <i class="fa-solid fa-circle-info pr-2"></i>Details
                            </a>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li>
                            <a class="dropdown-item red" href="@Url.Action("Delete", new { id = item.ID })">
                                <i class="fa fa-trash pr-2" aria-hidden="true"></i>
                                Delete
                            </a>
                        </li>
                    </ul>
                </div>

            </td>
        </tr>
        <tr>
            <td colspan="3">
           
                <div data-parent="#myGroup" class="collapse" id="X@(item.ID)"> @Html.DisplayFor(modelItem => item.DamagesIncurred)</div>
            </td>
        </tr>
    }

</table>